@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --bg-green: #2cc185;
  --color-hover: #545454;
  --bg-body: #f4f4f4;
}

* {
  font-family: "Poppins", sans-serif;
}

/* top info starts */

.my-order {
  display: flex;
  flex-direction: column;
}

.top-infos {
  color: rgba(255, 255, 255, 0.5);
}

.top-info p {
  font-size: 0.875rem !important;
}

.header {
  background-color: var(--bg-green);
}

.nav-item a:hover {
  color: var(--color-hover) !important;
}

.navbar-toggler {
  font-size: 0.8rem;
}
/* top info ends */

/* main starts */
.my-container {
  width: 70vw;
}

.my-mt {
  margin-top: 7.5rem;
}

.main {
  width: 70%;
}

.login {
  width: 30%;
  padding: 1.5rem;
  transition: padding-top 0.5s ease;
}

.login:hover {
  padding-top: 1.9rem;
  transition: padding-top 0.5s ease;
}
/* main ends */

/* body starts */
.inform {
  width: 75vw;
}

.inform-img {
  width: 30rem;
}

.inform-img img {
  width: 20rem;
}

.inform .inform-body {
  width: 30rem;
}

.informs .inform:nth-child(even) {
  flex-direction: row-reverse;
}

.informs .inform:nth-child(even) .inform-body:nth-child(even) {
  text-align: end;
}

.informs .inform:nth-child(odd) .inform-img:nth-child(odd) {
  text-align: end;
}
/* body ends */

/* footer starts */
footer .container img {
  width: 45px;
  object-fit: contain;
}
/* footer ends */
