:root {
  --main-bg-color: #e5e7eb;
  --main-text-color: #fff;
  --second-text-color: #bbbec5;
  --second-bg-color: #c1efde;
  --bg-blue: #111827;
  --danger-text-color: #dc3545;
  --bg-register: #7b74ec;
  --bg-patient: #5c8af0;
  --bg-polyrooms: #e45d99;
  --bg-activity: #74daec;
}
